#myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
        h4#myModalLabel.modal-title 详细
      form#saveForm.form-signin(method='post', role='form')
        .modal-body
          input(type='hidden', name='_id', value='')
          input(type='hidden', name='usetype', value='1')
          .form-group.row
            .col-sm-3 编号
            .col-sm-9 名称
          .form-group.row
            .col-sm-3
              input.form-control(type='text',name="code" placeholder='编号')
            .col-sm-9
              input.form-control(type='text',name="name" placeholder='名称')
          .form-group.row
            .col-sm-1 备注
            .col-sm-11
              textarea.form-control(name="desc" placeholder='备注',rows='2')
        .modal-footer
          div(style='float: left')
            input#chkForDel(type='checkbox' style='margin-right:5px;')
            button#btnDelExec.btn.btn-danger.text-left(type='button') 删除
          button.btn.btn-default(type='button', data-dismiss='modal') 关闭
          button.btn.btn-primary(type='submit') 保存
