extends layouts/default

block head
link(rel='stylesheet', href='/webuploader/dist/webuploader.css')
block main
  h1
  input#pageId(type='hidden', value='#{pageId}')
  .row(style='margin:5px 0;')
    .pull-left
      button#btnMultiDel.btn.btn-sm.btn-danger(type='button') 批删
    // pagerContainer
    div#pagerContainer.pull-right
  // table
  .row(style='width: 100%; min-height: 479px; border: 1px solid #ccc;')
    table.table.table-striped
      thead
        tr.cols
          th.col-md-1(style='width:30px;')
            input#btnMultiCheckSwitch(type='checkbox')
          th.col-md-1(style='width:32px;')
            button#btnAdd.btn.btn-primary.btn-xs(type='button',data-toggle="modal",data-target="#myModal" )
              span.glyphicon.glyphicon-plus
      tbody.dataRows
block foot
  script(src="/requirejs/require.js",data-main="/admin/product",type='text/javascript')
