head()
  title 图片管理
  meta(charset="utf-8")

  meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")

  meta(http-equiv="Content-type", content="text/html;charset=UTF-8")

  link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")

  link(rel="stylesheet", href="/bootstrap/dist/css/bootstrap.min.css")
  link(rel="stylesheet", href="/css/admin/base.css")
  link(rel="stylesheet", href="/dynatable/jquery.dynatable.css")
  link(rel="stylesheet", href="/font-awesome/css/font-awesome.min.css")
  link(rel="stylesheet", href="/jquery.simplePagination/simplePagination.css")
  link(rel="stylesheet", href="/x-editable/dist/bootstrap3-editable/css/bootstrap-editable.css")

  //if lt IE 9
    script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
    script(src='https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js')
  block head
